{% load static %}

<section class="about-section" id="about-section">
  <div class="about-image">
    <img src="{% static 'static_media/erai-van.png' %}" alt="About Image">
  </div>

  <div class="about-heading">
    <h2>About Us</h2>
  </div>

  <div class="about-text">
    <p>As a family-owned business, we carry the same values into our work that we live by at home: care, trust, and respect. We believe every home deserves to feel welcoming, peaceful, and truly comfortable. That’s why we approach every client with the same attention to detail we would give to our own family.
    Using only safe, high-quality products, we protect your space and your health while creating an environment you can fully enjoy. Our dedication to reliability, transparency, and lasting relationships has earned us recognition as one of the top companies in the state when it comes to balancing quality and affordability.</p>
  </div>
</section>
  
  <script>
    document.getElementById('about-section').addEventListener('click', function() {
      window.location.href = "{% url 'about:about' %}";
    });
  </script>
  