{% load static %}

<section class="about-section" id="about-section">
  <div class="about-image">
    <img src="{% static 'static_media/white_interior.png' %}" alt="About Image">
  </div>

  <div class="about-heading">
    <h2>About Us</h2>
  </div>

  <div class="about-text">
    <p>We deliver premium cleaning services with a touch of care and efficiency. Our trained professionals ensure your space shines—literally and figuratively.</p>
  </div>
</section>
  
  <script>
    document.getElementById('about-section').addEventListener('click', function() {
      window.location.href = "{% url 'about:about' %}";
    });
  </script>
  