.page-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  padding: 40px;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

.side-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50%;
}

.catalog-section {
  width: 50%;
}

.extras-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-top: 70px;
}

.extras-title {
  font-size: 2.7rem;
  color: #01406c;
  font-weight: 700;
  margin-left: 20px;
  margin-bottom: 20px;
}

.extras-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  background: linear-gradient(0deg, #ffffff, #f1f9ff);
  border-radius: 95px;
  padding: 25px;
  width: 95%;
  box-shadow:
    inset 0 1px 4px #00000013,
    inset 0 -1px 4px #00000013;
  scroll-behavior: smooth;
}

.extras-container::-webkit-scrollbar {
  display: none;
}

/* 🟡 Округлость сохраняется при scale */
.extra-card {
  position: relative;
  min-width: 270px;
  height: 270px;
  border-radius: 80px;
  overflow: hidden;
  scroll-snap-align: center;

  background: rgba(196, 220, 255, 0.45);
  backdrop-filter: blur(10px) saturate(1.3);
  -webkit-backdrop-filter: blur(10px) saturate(1.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}


.extra-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  transition: filter 0.4s;
}

.extra-card:hover .extra-image {
  border-radius: 80px;
}

.extra-text-overlay {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -0%); /* Центрируем */
  
  width: 80%;
  padding: 15px 20px;

  background: rgba(196, 220, 255, 0.45);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 45px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #01406c;
  z-index: 1;
  text-align: center;
  transition: all 0.5s ease;
}

.extra-card:hover .extra-text-overlay {
  transform: translate(-50%, -10%);
}



.extra-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.extra-price {
  font-size: 1rem;
  font-style: italic;
  color: #cde9ff;
}

@media (max-width: 900px) {
  .side-column,
  .catalog-section {
    width: 90vw;
  }

  .building-types-container {
    gap: 12px;
  }

  .building-card {
    min-width: 240px;
    height: 240px;
  }

  .building-name {
    font-size: 1.2rem;
  }

  .building-description {
    font-size: 0.85rem;
  }
}

