.cleaning-area-wrapper {
  position: relative;
  margin: clamp(2em, 6vw, 6em) auto;
  width: clamp(70%, 85%, 90%);
  aspect-ratio: 16 / 9;
  border-radius: clamp(40px, 10vw, 105px);
  border: 1px solid rgba(255, 255, 255, 0.479);
  margin-top: clamp(60px, 12vh, 150px);
  display: flex;
  flex-direction: column;
}

.cleaning-area-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: clamp(40px, 10vw, 105px);
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.49);
  z-index: 1; /* над блюром */
  pointer-events: none;
}


.cleaning-bg-wrapper {
  position: absolute;
  inset: 0;
  border-radius: clamp(40px, 10vw, 105px);
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

.cleaning-area-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(1.5);
  filter: blur(3px);
  z-index: 0;
  pointer-events: none;
}

.cleaning-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(15px, 5vh, 40px);
  padding: clamp(20px, 5vw, 50px) clamp(10px, 3vw, 20px);
}

.cleaning-area.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
}

.section-title {
  position: absolute;
  top: clamp(-70px, -13vh, -130px);
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(1.5em, 4vw, 3.3em);
  font-weight: 600;
  padding: 0.2em 1em;
  color: #004f88;
  z-index: 2;
  white-space: nowrap;
}

.locations-container {
  display: flex;
  flex: 1;
  gap: 20px;
  width: 100%;
}

.location-link {
  position: relative; 
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  color: #32758f;
  transition: color .3s;
  background: none;
  padding: 15px 8px;
  border-radius: 50%;
  text-decoration: none;
  white-space: nowrap;
}

.location-link:hover {
  color: #65a5bf;
}

.locations-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #c3eaff99;
  backdrop-filter: blur(15px) saturate(1.3);
  border-radius: clamp(25px, 7vw, 75px);
  padding: clamp(20px, 6vw, 60px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #013f6c;
  width: 50%;
  text-align: center;
}

.location-link:not(:nth-child(3n))::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #65a6bf75;
  pointer-events: none;
}

.map-container {
  flex: 1;
  overflow: hidden;
  border-radius: clamp(20px, 5vw, 60px);
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: inherit;
}

@media (orientation: landscape) {
  .locations-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .location-link:not(:nth-child(3n))::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #65a6bf75;
    pointer-events: none;
  }
}

@media (orientation: portrait) {
  cleaning-area {
    gap: 15px;
  }

  .cleaning-area-wrapper {
    border-radius: 70px;
  }

  .cleaning-area-wrapper::after {
    border-radius: 70px;
  }

  .cleaning-bg-wrapper {
    border-radius: 70px;
  }

  .locations-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }

  .locations-grid {
    margin-top: -10px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-left: 0;
    border-radius: 60px;
    padding: 15px;
  }

  .location-link {
    font-size: 14px;
    white-space: normal;
  }

  .location-link::after {
    display: none !important;
  }

  .map-container {
    order: 2;
    width: 100%;
    height: 100%;
    margin: clamp(15px, 5vh, 40px) 0 0;
    margin-top: 15px;
    border-radius: 60px;
    margin-bottom: -10px;
    aspect-ratio: 1/1;
  }
}