.about-section {
  position: relative;   /* для абсолютного позиционирования дочерних */
  width: 92%;
  height: 700px;
  margin: 60px auto;
  border-radius: 75px;
  overflow: hidden;
  box-shadow:
      inset 0 1px 4px #00000013,
      inset 0 -1px 4px #00000013;
  background: none;
  transition: box-shadow 0.5s ease;
}



.about-section {
  position: relative;
  width: 92%;
  height: 700px;
  margin: 60px auto;
  border-radius: 105px;
  overflow: hidden;
  background: none;
  transition: box-shadow 0.5s ease;
}

/* Контейнер картинки */
.about-image {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border-radius: 105px;
  overflow: hidden;
  z-index: 1;
}

/* Внутренняя тень поверх картинки */
.about-image::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
  border-radius: 105px;
  box-shadow:
    inset 0 1px 8px rgba(0, 0, 0, 0.145),
    inset 0 -1px 8px rgba(0, 0, 0, 0.101);
  z-index: 2;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 1.2s ease-in-out;
  position: relative;
  z-index: 1;
}


.about-section:hover .about-image img {
  transform: scale(1.03);
}

.about-text {
  position: absolute; /* поверх фото */
  top: 50%;  /* по вертикали — центрируем */
  right: 20px; /* отступ справа */
  transform: translateY(-50%); /* чтобы по центру было */
  width: 45%;    /* фиксированная ширина карточки */
  height: 95%;   /* фиксированная высота */
  padding: 50px;
  border-radius: 100px;
  background: rgba(196, 220, 255, 0.45);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(225, 242, 255, 0.4);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  transform: translateY(-50%);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

/* Hover - поднимаем текст и добавляем тень */

.about-section:hover .about-text {
  transform: translate(calc(0px - 10px), -50%);
}

.about-section:active .about-text {
  transform: translate(calc(0px - 4px), -50%) scale(0.98);
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.about-text h2 {
  margin: 0 0 10px;
  font-size: 46px;
  font-weight: 600;
  color: #01406c;
}

.about-text p {
  margin: 0 0 10px;
  color: #32758f;
  font-size: 16px;
  line-height: 1.4;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.about-text .price {
  font-weight: 600;
  font-size: 18px;
  color: #8e46a4;
}
