.cleaning-area-wrapper {
  position: relative;
  margin: 6em auto;
  width: 85%;
  border-radius: 105px;
  border: 1px solid rgba(255, 255, 255, 0.479);
  margin-top: 150px;
}

.cleaning-area-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 105px;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.399);
  z-index: 1; /* над блюром */
  pointer-events: none;
}


.cleaning-bg-wrapper {
  position: absolute;
  inset: 0;
  border-radius: 105px;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

/* БЛЮР-ФОНОВАЯ КАРТИНКА */
.cleaning-area-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(1.5);
  filter: blur(8px);
  z-index: 0;
  pointer-events: none;
}

/* КОНТЕНТ ПОВЕРХ */
.cleaning-area {
  position: relative;
  z-index: 1;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* Анимация появления */
.cleaning-area.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
}

/* ЗАГОЛОВОК */
.section-title {
  position: absolute;
  top: -100px;
  left: 33%;
  font-size: 3.3em;
  font-weight: 600;
  padding: 0.2em 1em;
  color: #004f88;
  z-index: 2;
}

/* СЕТКА ССЫЛОК */
.locations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.location-link {
  position: relative; 
  font-size: 1.2rem;
  color: #32758f;
  transition: color .3s;
  background: none;
  padding: 15px 8px;
  border-radius: 50%;
  text-decoration: none; /* Убрали подчёркивание */
}

.location-link:hover {
  color: #65a5bf;
}

.locations-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #c3eaff99;
  backdrop-filter: blur(15px) saturate(1.3);
  border-radius: 75px;
  padding: 60px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #013f6c;
  margin-left: 40px;
  width: 50%;
  text-align: center;
}

/* статичная вертикальная линия */
.location-link:not(:nth-child(3n))::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #65a6bf75;
  pointer-events: none;
}

/* КАРТА */
.map-container {
  position: relative;
  overflow: hidden;
  width: 39%;
  height: 520px;
  border-radius: 60px;
  margin-right: 45px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: inherit;
}

/* Адаптив */
@media (max-width: 768px) {
  .locations-container { flex-direction: column; align-items: center; }
  .locations-grid { grid-template-columns: repeat(2,1fr); width:100%; }
  .map-container { width:100%; }
}

@media (max-width: 480px) {
  .locations-grid { grid-template-columns: 1fr; }
  .map-container { width:100%; }
}
