{% load static %}
<section class="after-intro-section">
  <div class="after-intro-bg"></div>
  <div class="after-intro-glass">
    <div class="after-intro-line"></div>
    <h2 class="after-intro-title">Your Satisfaction Comes First</h2>
    <div class="after-intro-textbox">
      <p>
        At Erai Cleaning, your expectations are only the starting point. We go beyond them, delivering results that feel effortless, yet exceed every standard.
      </p>
      <p>
        Every home is unique, and so is our approach. With careful attention to detail and a personal touch, we create spaces that are not just clean, but truly cared for. That is why our clients value the experience of working with us.
      </p>
      <p>
       Choose Erai — Choose Confidence
      </p>
    </div>
  </div>
</section>

