{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="image-container">
  <img src="{% static 'static_media/white_interior.png' %}" alt="Responsive Image"></img>
  <div class="overlay">
    <h1>ERAI</h1>
    <p>Where shine is a must</p>
    <button>Book now</button>
  </div>
</section>
{% include 'catalog/services.html' %}
{% include 'gallery/gallery.html' %}
{% include 'about/about_home.html' %}
{% include 'reviews/reviews.html' %}
{% include 'feedback/feedback_home.html' %}
{% include 'homepage/area.html' %}
<script src="{% static 'js/homepage.js' %}"></script>
<script src="{% static 'js/area.js' %}"></script>
<script src="{% static 'js/reviews.js' %}"></script>

{% endblock %}
