{% load static %}
<div class="header">
  <div class="logo">
    <a href="/"><img src="/static/static_media/header%20logo.png" alt="Logo"></a>
  </div>
  <nav class="nav-links">
    	<a href="{% url 'homepage:home' %}">Home</a>
		{% if request.resolver_match.view_name != 'about:about' %}
    	<a href="{% url 'about:about' %}">About</a>
		{% endif %}
		{% if request.resolver_match.view_name != 'order:order' %}
    	<a href="{% url 'order:order' %}">Book Now</a>
		{% endif %}
		{% if request.resolver_match.view_name != 'catalog:catalog' %}
    	<a href="{% url 'catalog:catalog' %}">Services</a>
		{% endif %}
		{% if request.resolver_match.view_name != 'feedback:feedback' %}
    	<a href="{% url 'feedback:feedback' %}">Feedback</a>
		{% endif %}
  </nav>
</div>
<script src="{% static 'js/header.js' %}"></script>
