{% load static %}

<div class="reviews-section">
  <h1 class="reviews-title">Live Reviews</h1>

  <div class="reviews-background-cropper">
    <div class="reviews-background"></div>
  </div>
  <div class="reviews-wrapper">
    <div class="reviews-container">
      <div style="width: 10px;"></div>

      {% for review in reviews %}
        <a href="{{ review.link }}" class="review-card" {% if not review.link %}onclick="return false;"{% endif %} target="_blank">
          <div class="review-header">
            <div class="review-name">{{ review.name }}</div>
            {% if review.source %}
              <div class="review-logo">
                <img src="{{ review.source.url }}" alt="User photo">
              </div>
            {% endif %}
          </div>
          {% if review.work_description %}
            <p class="review-title">{{ review.work_description }}</p>
          {% endif %}
          <div class="review-text-box">{{ review.text }}</div>
        </a>
      {% empty %}
        <p class="text-center">Here is no reviews yet</p>
      {% endfor %}

      <div style="width: 10px;"></div>
    </div>
  </div>

  <button class="add-review-btn" onclick="openModal()">Leave a Review</button>
</div>

<div id="reviewModal" class="modal">
  <div style="height: 25%;"></div>
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <div style="height: 25px;"></div>
    <h2>Leave a Review</h2>
    <div style="height: 25px;"></div>
    <form method="POST" action="{% url 'homepage:add_review' %}">
      {% csrf_token %}
      <div class="form-group">
        <input class="modal-input" type="text" id="name" name="name" maxlength="100" required>
        <label for="name">Your name</label>
      </div>
      <div class="form-group">
        <input class="modal-input" type="text" id="work_description" name="work_description" maxlength="100" required>
        <label for="work_description">Our work in one word</label>
      </div>
      <div class="form-group">
        <textarea class="modal-textarea" id="text" name="text" rows="4" required></textarea>
        <label for="text">Review</label>
      </div>
      <button type="submit" class="submit-btn">Submit</button>
    </form>
  </div>
</div>

<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/reviews.js' %}"></script>