{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="order-form-wrapper">
	<form method="post" action="{% url 'catalog:order_create' %}" id="order-form" class="order-form-layout order-form">
	  {% csrf_token %}
  
	  <div class="order-row-4">
		  <div class="order-form-group">
			<label for="id_area">Area (sqft)</label>
            {{ order_form.area }}
		  </div>
		  <div class="order-form-group">
        	<label for="id_room_type">Building Type</label>
        	<div class="custom-dropdown" data-name="room_type">
        	  <div class="selected">Choose Building Type</div>
        	  <ul class="options">
        	    <li data-value="apartment">Apartment</li>
        	    <li data-value="house">House</li>
        	    <li data-value="townhouse">Townhouse</li>
        	    <li data-value="office">Office</li>
        	  </ul>
        	  <select name="room_type" id="room_type" style="display:none;">
        	    <option value="apartment">Apartment</option>
        	    <option value="house">House/option>
        	    <option value="townhouse">Townhouse</option>
        	    <option value="office">House</option>
        	  </select>
        	</div>
      </div>
      <div class="order-form-group">
        <label for="service_type">Service type</label>
        <div class="custom-dropdown" data-name="service_type">
          <div class="selected">Select service</div>
          <ul class="options">
            <li data-value="standard">Standard</li>
            <li data-value="deep">Deep</li>
            <li data-value="moving">Moving</li>
          </ul>
          <select name="service_type" id="service_type" style="display: none;">
            <option value="standard">Standard</option>
            <option value="deep">Deep</option>
            <option value="moving">Moving</option>
          </select>
        </div>
      </div>
	  </div>
  
	  <div class="order-row-4">
		  <div class="order-form-group">
		    {{ order_form.num_rooms.label_tag }} {{ order_form.num_rooms }}
		  </div>
		  <div class="order-form-group">
		    {{ order_form.num_bathrooms.label_tag }} {{ order_form.num_bathrooms }}
		  </div>
      <div class="order-form-group">
        <label for="id_frequency">Cleaning Velocity</label>
        <div class="custom-dropdown" data-name="frequency">
          <div class="selected">Choose</div>
          <ul class="options">
            <li data-value="once">One-time</li>
            <li data-value="weekly">Weekly</li>
            <li data-value="biweekly">Biweekly</li>
            <li data-value="monthly">Monthly</li>
          </ul>
          <select name="frequency" id="frequency" style="display:none;">
            <option value="once">One-time</option>
            <option value="weekly">Weekly</option>
            <option value="biweekly">Biweekly</option>
            <option value="monthly">Monthly</option>
          </select>
        </div>
      </div>
	  </div>
  
	  <fieldset class="order-fieldset">
		<legend class="order-legend">Extras</legend>
		<div class="order-row-4">
		  <div class="order-form-group">
			<label class="order-toggle">
			  {{ order_form.clean_windows }} <span class="order-slider"></span> {{ order_form.clean_windows.label }}
			</label>
		  </div>
		  <div class="order-form-group">
			<label class="order-toggle">
			  {{ order_form.clean_sills }} <span class="order-slider"></span> {{ order_form.clean_sills.label }}
			</label>
		  </div>
		  <div class="order-form-group">
			<label class="order-toggle">
			  {{ order_form.clean_cabinets }} <span class="order-slider"></span> {{ order_form.clean_cabinets.label }}
			</label>
		  </div>
		  <div class="order-form-group">
			<label class="order-toggle">
			  {{ order_form.clean_fridge }} <span class="order-slider"></span> {{ order_form.clean_fridge.label }}
			</label>
		  </div>
		  <div class="order-form-group">
			<label class="order-toggle">
			  {{ order_form.clean_oven }} <span class="order-slider"></span> {{ order_form.clean_oven.label }}
			</label>
		  </div>
		  <div class="order-form-group">
			<label class="order-toggle">
			  {{ order_form.clean_microwave }} <span class="order-slider"></span> {{ order_form.clean_microwave.label }}
			</label>
		  </div>
		  <div class="order-form-group">
			<label class="order-toggle">
			  {{ order_form.clean_dishwasher }} <span class="order-slider"></span> {{ order_form.clean_dishwasher.label }}
			</label>
		  </div>
		  <div class="order-form-group">
			<label class="order-toggle">
			  {{ order_form.clean_terrace }} <span class="order-slider"></span> {{ order_form.clean_terrace.label }}
			</label>
		  </div>
		  <div class="order-form-group">
			<label class="order-toggle">
			  {{ order_form.clean_blinds }} <span class="order-slider"></span> {{ order_form.clean_blinds.label }}
			</label>
		  </div>
      <div class="order-form-group">
		    <label class="order-toggle">
		  	  {{ order_form.clean_carpet }} <span class="order-slider"></span> {{ order_form.clean_carpet.label }}
		    </label>
		  </div>
		  <div class="order-form-group">
        <label for="id_carpet_area">Carpet Area (sqft)</label>
		    {{ order_form.carpet_area }}
		  </div>
		</div>
	  </fieldset>
	  
	  <p class="order-price-text">Price: $<span id="priceValue">0.00</span></p>
	  <button type="submit" class="order-submit-btn">Book Now</button>
	</form>
  </div>
  <script src="{% static 'js/order.js' %}"></script>
  <script src="{% static 'js/services_window.js' %}"></script>
{% endblock %}