{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="page-wrapper">
  <section class="catalog-section">
    <div class="catalog-shadow"></div>

    <div class="catalog-content">
      {% for service in services %}
      <div class="service-block">
        <img src="{{ service.service_thumbnail.url }}" alt="{{ service.service_title }}" class="service-img">
        <div class="service-overlay"></div>
        <div class="service-content">
          <div class="service-title">{{ service.service_title }}</div>
          <div class="service-description">{{ service.service_description }}</div>
          <div class="service-price">Starting at {{ service.service_price }}$</div>
          <div class="service-info-icon" data-info="{{ service.service_included|linebreaksbr }}">
            <div class="service-info-text">{{ service.service_included|linebreaksbr }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </section>
  <div class="extras-section">
    <h2 class="extras-title">Extras</h2>
      <div class="extras-container">
        {% for extra in extras %}
          <div class="extra-card show">
            <img class="extra-image" src="{{ extra.extra_thumbnail.url }}" alt="{{ extra.extra_title }}">
            <div class="extra-text-overlay">
              <div class="extra-name">{{ extra.extra_title }}</div>
              <div class="extra-price">${{ extra.extra_price }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

</div>


<script src="{% static 'js/services_window.js' %}"></script>
{% endblock %}